* {
  font-family: Roboto, sans-serif;
}

.CardWrapper {
  display: flex;
  width: auto;
  margin-top: 30px;
  justify-content: space-around;
}

.GenresBlock {
  display: flex;
}

.Genres {
  display: flex;
  margin-right: 10px;
}
.OverviewBlock {
  width: 400px;
}
